/* ========= MENU ========= */
#menu-btn {
    cursor: pointer;
    position: absolute;
    left: 1rem;
}

#side-menu a {
    display: block;
    padding: 1rem 1.5rem;
    text-align: left;
}
/* ======================== */

/* ========= DIM ========== */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45); 
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 500; 
}

#overlay.active {
    opacity: 1;
    pointer-events: auto;
}
/* ======================== */

/* == INDEX REC_COURSES === */
#recommended-courses h3 {
    border-bottom: 2px solid #ccc;
    margin: 0.2rem 0 0.5rem 0;
}

.course-card {
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    aspect-ratio: 4 / 3;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 1.2rem 1rem;
    cursor: pointer;
    z-index: 10;
    -webkit-tap-highlight-color: transparent;
}

.carousel-btn.prev {
    left: 0rem;
}

.carousel-btn.next {
    right: 0rem;
}

.course-card img {
    width: 100%;
    height: 80%;          
    object-fit: cover;      
    border-radius: 0;
}
/* ======================== */

/* === INDEX CATEGORIES === */
#course-categories h3 {
    font-weight: 300;
    font-size: 1rem;
    border-bottom: 2px solid #ccc;
    margin-bottom: 0.8rem;
    padding-bottom: 0.3rem;
}

.category-card {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 1rem;
    text-align: left;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.category-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.category-card h4 {
    padding: 0.5rem;
    font-size: 0.9rem;
    margin: 0;
}
/* ======================== */

/* ==== COURSE DETAILS ==== */
#course-facts {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 1.5rem 0 2rem;
}

.fact {
    background: #f0eee9;
    padding: 0.7rem 1rem;
    border-radius: 8px;
    min-width: 150px;
}

.fact-label {
    display: block;
    font-size: 0.75rem;
    color: #666;
}

.fact span:last-child {
    font-weight: 600;
    color: #800020;
}

#course-outcomes ul {
    padding-left: 1.2rem;
    line-height: 1.6;
}

#course-outcomes li {
     margin-bottom: 0.4rem;
}

#topics-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.topic-tag {
    padding: 0.3rem 0.7rem;
    background: #f0eee9;
    border-radius: 999px;
    font-size: 0.8rem;
    color: #800020;
}

#related-courses {
    margin-top: 3rem;
}

#related-courses h3 {
    margin-bottom: 0.8rem;
}

.related-carousel {
    margin-top: 0.5rem;
}
/* ======================== */