body {
    background-color: #F0EEE9; 
    margin: 0.2rem;
    font-family: Helvetica;
    padding-top: 3rem; 
    padding-bottom: 2.5rem; 
    text-align: center;
}

header {
    background-color: #800020;
    color: #F0EEE9;  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 25px 0 black;
    font-family:'Bodoni* 11';
}

footer{
    background-color: #800020;
    color: #F0EEE9;  
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    box-shadow: 0 0 25px 0 black;  
}

#intro h3 {
    color: #333333;
    margin-bottom: -0.5rem;
}

#intro p{
    color: #555555;
    text-align: justify;
}

#recommended-courses {
    border-bottom: 2px solid #ccc; 
    width: 100%;          
    box-sizing: border-box; 
}

#recommended-courses h3 {
    color:   #A05C70;        
    font-weight: 300; 
    font-size: 1rem; 
    margin: 0.2rem 0;  
}