body {
    background-color: #F0EEE9; 
    margin: 0.2rem;
    font-family: Helvetica;
    padding-top: 3rem; 
    padding-bottom: 2.5rem; 
    text-align: center;
}

header {
    background-color: #800020;
    color: #F0EEE9;  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 25px 0 black;
    font-family:'Bodoni* 11';
}

#menu-btn {
  background: none;
  border: none;
  color: #F0EEE9;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  left: 1rem;
}

#close-menu-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    color: #F0EEE9;
    font-size: 24px;
    cursor: pointer;
}

#side-menu {
  position: fixed;
  top: 0;
  left: -250px;          
  width: 250px;
  height: 100%;
  background-color: #800020;
  color: #F0EEE9;
  padding-top: 3rem;     
  transition: left 0.3s ease;
  z-index: 999;          
}

/* Links inside menu */
#side-menu a {
  display: block;
  padding: 1rem 1.5rem;
  color: #F0EEE9;
  text-decoration: none;
  text-align: left;
}

#side-menu a:hover {
  background-color: #a0334a;
}

/* When the drawer is open */
#side-menu.active {
  left: 0;
}

footer{
    background-color: #800020;
    color: #F0EEE9;  
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    box-shadow: 0 0 25px 0 black;  
}

#intro h3 {
    color: #333333;
    margin-bottom: -0.5rem;
}

#intro p{
    color: #555555;
    text-align: justify;
}

#recommended-courses {
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 1rem;   
    margin-bottom: 1rem;
}

#recommended-courses h3 {
    color: #A05C70;
    font-weight: 300;
    font-size: 1rem;
    border-bottom: 2px solid #ccc;
    margin: 0.2rem 0 0.5rem 0; 
}

#menu-btn {
  background: none;
  border: none;
  color: #F0EEE9;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  left: 1rem;
}

#close-menu-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    color: #F0EEE9;
    font-size: 24px;
    cursor: pointer;
}

#side-menu {
  position: fixed;
  top: 0;
  left: -250px;          
  width: 250px;
  height: 100%;
  background-color: #800020;
  color: #F0EEE9;
  padding-top: 3rem;     
  transition: left 0.3s ease;
  z-index: 999;          
}

/* Links inside menu */
#side-menu a {
  display: block;
  padding: 1rem 1.5rem;
  color: #F0EEE9;
  text-decoration: none;
  text-align: left;
}

#side-menu a:hover {
  background-color: #a0334a;
}

/* When the drawer is open */
#side-menu.active {
  left: 0;
}
