body {
    margin: 0;
    padding-top: 3rem; 
    padding-bottom: 2.5rem; 
    text-align: center;
}

main {
    padding: 1rem;
    box-sizing: border-box;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#intro h3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#intro p {
    padding-bottom: 0.7rem;
}

#side-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 60vw; 
    max-width: 260px;
    height: 100%;
    padding-top: 3rem;
    transition: left 0.3s ease;
    z-index: 999; 
}

#side-menu.active {
    left: 0;
}

#recommended-courses {
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.carousel {
    padding-top: 0.8rem;
    overflow: hidden;
    position: relative;
}

.carousel-track {
    display: flex;
    overflow: hidden;
    gap: 1rem;
    padding: 0 2rem;
    box-sizing: border-box;
}

.course-card {
    flex: 0 0 100%;
}

@media (max-width: 400px) {
    #side-menu {
        width: 55vw;      
        max-width: 220px; 
    }
}

@media (min-width: 600px) {

    .course-card {
        flex: 0 0 45%;
    }

    .categories-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .category-card {
        flex: 0 0 calc(50% - 1rem);
    }

    #side-menu {
        width: 40vw;
        max-width: 300px;
    }

}

@media (min-width: 900px) {

    .course-card {
        flex: 0 0 28%;
    }

    .category-card {
        flex: 0 0 calc(25% - 1rem);
    }
    
    #side-menu {
        width: 25vw;
        max-width: 320px;
    }

}

#course-categories {
    width: 100%;
    box-sizing: border-box;
    padding: -2rem 1rem;
    margin: 1rem 0;
}

.categories-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
